#root {
  background-color:black;
  color: antiquewhite;
}
html {
  background-color: black;

}
.game-buttons{ 
  width: 100%;
  color: black;
  

  height: 150px;
  font-size: 75px;
  font-weight:  600;

  border: none;
}
.game-buttons:hover {
 
}
.boxes {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  border: 1px solid black;

 
}
.boxes:hover {
  scale: 1.1;

  
}
.game-btn {
  font-size: 35px;
  color: red;
  background-color: blue;
  width: 100%;
}